%main.mypage-main
  .mypage-content
    .info
      .user-info
        %a.user-link{:href => "/"}
          %img.user-image{:alt => "noname", :src => "member_photo.png"}/
          %h2.user-name ユーザーネーム
          .inner-bar
            .evaluation-listings
              %span.evaluation-text 評価
              %i.evaluation-count 0
              %span.numberof-listings-text 出品数
              %i.numberof-listings-count 0
      .notice-todo
        %a.notice-link{:href => "/"}
          .notice お知らせ
        %a.todo-link{:href => "/"}
          .todo
            やることリスト
      .notice-box
        %a.notice-list{:href => "/"}
          .notice-icon
            %img{:alt => "mercari", :height => "48px", :src => "mercari_icon.png", :width => "48px"}/
          %li.list
            事務局から個別メッセージ「ログイン通知」
          %span.notice-timing ７日前
          %i.fas.fa-chevron-right.right-arrow
        %a.notice-list{:href => "/"}
          .notice-icon
            %img{:alt => "mercari", :height => "48px", :src => "mercari_icon.png", :width => "48px"}/
          %li.list
            事務局から個別メッセージ「ログイン通知」
          %span.notice-timing 6日前
          %i.fas.fa-chevron-right.right-arrow
    .bought-product 購入した商品
    .bought-info
      %a.bought-info__leftlink{:href => "/"}
        .during-trading 取引中
      %a.bought-info__rightlink{:href => "/"}
        .past-trading
          過去の取引
    .bought-detail
      .bought-detail__icon
      .bought-detail__nothing 取引中の商品がありません
  = render 'mypage_sidebar'
-# %a.sell-btn{:href => "/"}
-#   .sell-btn__text 出品
-#   %i.fas.fa-camera
