.credit{
    background-color: $mainbgcolor;
    height: 100vh;
    padding-top: 40px; 
    width: 100vw;
    &__wrapper{
        background-color: $contentsbgcolor;
        margin: 0 auto;
        width: 700px;
    }

    &__title{
        border-bottom: solid 1px $bordercolor;
        box-sizing: border-box;
        font-size: 24px;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }

    &__index{
        padding: 64px 64px 120px 64px;

        &--title{
            font-weight: bold;
            padding-left: 120px;
        }
    }

    &__info{
        border-bottom: 1px solid $bordercolor;
        padding: 24px 120px;

        &--number{
            font-size: 16px;
        }

        &--expire{
            font-size: 13px;
        }
    }

    &__delete{
        border: solid 1px red;
        border-radius: 3px;
        box-sizing: border-box;
        color: red;
        float: right;
        font-size: 14px;
        height: 27px;
        line-height: 22px;
        margin-top: 3px;
        padding: 2px 3px;
    }

    &__footer{
        display: flex;
        float: right;
        margin: 35px 15px 30px 0;
    }

}
